<div class="container-content ">
    <div class="name-page ">
        <div class="container-2">
            Dashboard
        </div>
    </div>
    <div class="content ">
        <div class="content-main container-2">
            <div class="all-box">
                <div class="list-box">
                    <div class="white-box">
                        <div class="box">
                            <a href="#">
                                <i class="fa fa-hdd-o" aria-hidden="true"></i>
                                <span class="hide-menu">Sản phẩm</span>
                            </a>
                            <span>12</span>
                        </div>
                    </div>
                    <div class="white-box">
                        <div class="box">
                            <a href="#">
                                <i class="fa fa-building" aria-hidden="true"></i>
                                <span class="hide-menu">Đơn hàng</span>
                            </a>
                            <span>12</span>
                        </div>
                    </div>
                    <div class="white-box">
                        <div class="box">
                            <a href="#">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <span class="hide-menu">Bình luận</span>
                            </a>
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="list-box">
                    <div class="white-box">
                        <div class="box">
                            <a href="#">
                                <i class="fa fa-th" aria-hidden="true"></i>
                                <span class="hide-menu">Blogs</span>
                            </a>
                            <span>12</span>
                        </div>
                    </div>
                    <div class="white-box">
                        <div class="box">
                            <a href="#">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="hide-menu">Thông tin</span>
                            </a>
                            <span>12</span>
                        </div>
                    </div>
                    <div class="white-box">
                        <div class="box">
                            <a href="#">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                <span class="hide-menu">Khuyến mãi</span>
                            </a>
                            <span>12</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>