<div class="container-content ">
    <div class="name-page ">
        <div class="container-2">
            Thêm sản phẩm
        </div>
    </div>
    <div class="content ">
        <div class="content-main container-2">
            <div class="card-form">
                <form class="form-add" id="form">
                    <div class="form-group">
                        <label class="label-group">Tên sản phẩm</label>
                        <div class="input-control">
                            <input type="text" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Slug sản phẩm</label>
                        <div class="input-control">
                            <input type="text" id="slug">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Giới tính</label>
                        <div class="input-control">
                            <select name="gender" id="gender">

                                <option value="nam">Nam</option>
                                <option value="nữ">Nữ</option>
                                <option value="unisex">Unisex</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Độ hot</label>
                        <div class="input-control">
                            <input type="number" id="hot" placeholder="Điểm độ hot" min="1" max="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Giá tiền</label>
                        <div class="input-control">
                            <input type="number" min="100000" id="cost" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group" for="image">Chọn ảnh</label>
                        <div class="input-control">
                            <input type="file" id="image">
                        </div>
                        <div class="image-preview">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Thương hiệu</label>
                        <div class="input-control">
                            <input type="text" id="thuongHieu" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Nơi xuất xứ</label>
                        <div class="input-control">
                            <input type="text" id="xuatXu" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Năm phát hành</label>
                        <div class="input-control">
                            <input type="text" id="phatHanh" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Nhóm hương chính</label>
                        <div class="input-control">
                            <input type="text" id="nhomHuong" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Phong cách</label>
                        <div class="input-control">
                            <input type="text" id="phongCach" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Mùi hương đầu</label>
                        <div class="input-control">
                            <input type="text" id="huongDau" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Mùi hương giữa</label>
                        <div class="input-control">
                            <input type="text" id="huongGiua" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Mùi hương cuối</label>
                        <div class="input-control">
                            <input type="text" id="huongCuoi" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Mô tả về sản phẩm</label>
                        <div class="input-control">
                            <textarea name="" id="mota" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-group">Trạng thái</label>
                        <div class="input-control">
                            <select name="status" id="status">
                                <option value="true">Có hàng</option>
                                <option value="false">Hết hàng</option>

                            </select>
                        </div>
                    </div>
                    <div class="product-full">
                        <div class="fullseal">
                            <label class="label-group">Fullseal</label>
                            <input type="number" placeholder="dung tích" id="capaFullseal">
                            <input type="number" placeholder="giá" id="costFullseal">
                            <input type="checkbox" checked id="fullseal"> <label for="fullseal">Có hàng</label>
                        </div>
                        <div class="fulltester">
                            <label class="label-group">Tester</label>
                            <input type="number" placeholder="dung tích" id="capaTester">
                            <input type="number" placeholder="giá" id="costTester">
                            <input type="checkbox" checked id="fulltester"> <label for="fulltester">Có hàng</label>
                        </div>
                    </div>
                    <div class="button-submit">
                        <button type="submit">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>