<aside>
    <nav>
        <ul>
            <li><a href="/admin">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="hide-menu">Dashboard</span>
                </a></li>
            <li><a href="/admin/products">
                    <i class="fa fa-hdd-o" aria-hidden="true"></i>
                    <span class="hide-menu">Sản phẩm</span>
                </a></li>
            <li><a href="/admin/order">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <span class="hide-menu">Đơn hàng</span>
                </a></li>
            <li><a href="#">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span class="hide-menu">Bình luận</span>
                </a></li>
            <li><a href="#">
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <span class="hide-menu">Blogs</span>
                </a></li>
            <li><a href="/admin/info">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span class="hide-menu">Thông tin</span>
                </a></li>
            <li><a href="/admin/accounts">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="hide-menu">Tài khoản</span>
                </a></li>
            <li><a href="#">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span class="hide-menu">Khuyến mãi</span>
                </a></li>
            <li><a href="/admin/brands">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span class="hide-menu">Thương hiệu</span>
                </a></li>


        </ul>
    </nav>
</aside>