<header class="header">
    <nav class="navbar container-header">
        <div class="navbar-header">
            <a href="#">
                <span>SONO Admin</span>
            </a>
        </div>
        <div class="navbar-collapse">
            <div class="image-admin">
                <img src="https://scr.vn/wp-content/uploads/2020/08/%E1%BA%A2nh-hot-girl-l%C3%A0m-avt.jpg" alt="">
            </div>
            <div class="name-admin">
                <span>Hoang</span>
            </div>
        </div>
    </nav>
</header>