// $blackColor: #313131;
$whiteColor: #fafafa;
$mainColor: #dbdbdb;
$grayColor: #a3a1a1;
$secondColor: #fff;
// $whiteColor: #fff;
// $secondaryColor: #f4f5fa;
// $secondaryColor: #f4f5fa;
$blackColor: #231f20;
// $blackSeconColor: #464545;
$redColor: #e66d6d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: $blackColor;
}
.btn-call {
  color: $blackColor;
  font-weight: 700;
  background-color: $whiteColor;
  border: 1px solid $secondColor;
  border-radius: 12px;
  padding: 2px 4px;
  position: fixed;
  bottom: 25px;
  left: 0;
  display: none;
}
.btn-mess {
  color: $whiteColor;

  position: fixed;
  bottom: 25px;
  right: 15px;
  img {
    width: 50px;
    border: 1px solid $secondColor;
    border-radius: 50%;
  }
}

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden;
  // padding-right: 20px;
  // padding-left: 20px;
  // margin-right: auto;
  // margin-left: auto;
}
.header {
  color: $blackColor;
  position: relative;
  // border-bottom: 1px solid $mainColor;
  .header__top {
    background-color: $whiteColor;

    .header__top__row {
      display: flex;
      justify-content: space-between;
      height: 34px;
      line-height: 34px;
      .header__top__info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        .header__top__info--phone {
          padding: 0 10px;
        }
        .header__top__info--email {
          padding: 0 10px;
        }
      }
      .header__top__log {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        a {
          display: block;

          :hover {
            opacity: 80%;
          }
        }
        .header__top__log--login {
          padding: 0 10px;
        }
        .header__top__log--register {
          padding: 0 10px;
        }
      }
    }
  }
  .header__mid {
    background-color: $whiteColor;

    .header__mid__row {
      display: flex;
      justify-content: space-between;
      height: 80px;
      line-height: 80px;
      img {
        height: 80px;
      }
      .header__mid__logo {
        margin-left: 50px;
        margin-right: 50px;
        flex-grow: 0;
      }
      .header__mid__search {
        position: relative;
        flex-grow: 2;
        input {
          width: 100%;
          border: 0px;
          background-color: $whiteColor;
          outline: none;
          padding: 10px 20px;
          transition: 0.5s ease;
        }
        input:focus {
          transition: 0.5s ease;
          background-color: $secondColor;
          border-bottom: 1px solid $grayColor;
        }
        ion-icon {
          position: absolute;
          top: 42%;
          transform: translateX(-150%);
          z-index: 10;
          color: black !important;
          cursor: pointer;
        }
      }
      .header__mid__cart {
        font-size: 44px;
        margin-left: 100px;
        margin-right: 20px;

        position: relative;
        flex-grow: 0;
        a {
          color: black !important;
        }
        .header__mid_cart--count {
          display: inline;
          font-size: 18px;
          font-weight: 700;
          color: $blackColor;
          border-radius: 50%;
          background-color: $redColor;
          position: relative;
          margin-left: -50%;
          padding: 0 6px;
          z-index: 10;
        }
      }
    }
  }
  .header__bottom {
    background-color: $whiteColor;
    height: 36px;
    line-height: 36px;
    .header__bottom__row {
      ul {
        position: relative;
        z-index: 10;
        .active {
          background-color: $secondColor;
        }
        li {
          font-size: 14px;
          display: inline-table;
          list-style: none;
          transition: 1s ease-in;
          :hover {
            transition: 0.1s ease-in;
            background-color: $secondColor;
          }
          a {
            padding: 0 10px;
            display: block;
          }
        }
      }
    }
  }
}
.slick-dots li button:before {
  font-size: 12px;
}
.slider {
  z-index: 8;
  .slider__show {
    .image {
      img {
        width: 100%;
      }
    }
  }
}
.nam {
  padding-top: 40px;
  background-color: $secondColor;
  .nam__namelist {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
  }
  .nam__list {
    position: relative;

    .slick-arrow {
      position: absolute !important;
      font-size: 46px;
      cursor: pointer;
      color: $grayColor;
      z-index: 10;
    }
    .arrow-back-outline {
      top: 50%;
      left: 0;
      // transform: translateX(50%);
    }
    .arrow-forward-outline {
      top: 50%;
      right: 0;
    }
    .nam__list__boxed {
      width: 200px;
      height: 330px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 4px;
      padding: 0 20px;
      margin: 5px 10px;
      transition: 0.5s ease;

      &:hover {
        transition: 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      a {
        color: $blackColor;
      }
      img {
        height: 180px;
        object-fit: cover;
        flex-shrink: 0;
      }
      .boxed__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        .boxed__box__name {
          text-align: center;
          font-size: 14px;
          flex-grow: 1;
        }
        .boxed__box__price {
          font-size: 16px;
          padding: 2px 0;
          .boxed__box__price--new {
            font-weight: 600;
            color: $redColor;
          }
          .boxed__box__price--old {
            font-size: 14px;
            text-decoration: line-through;
            color: $grayColor;
          }
        }
        .boxed__box__refund span {
          font-size: 12px;
        }
      }
    }
    .boxed__add {
      margin: 10px 0;
      flex-grow: 0;
      .boxed__add--button {
        padding: 5px 10px;
        border: none;
        outline: none;
        background-color: $blackColor;
        color: $whiteColor;
        cursor: pointer;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: $whiteColor;
  color: $blackColor;
  font-size: 14px;
  .footer__bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid $secondColor;
  }
  .footer__top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    gap: 40px;
    a {
      transition: 0.2s ease;
    }
    a:hover {
      transition: 0.2s ease;
      color: $grayColor;
    }
    h3 {
      padding: 20px 0;
    }
    .footer__top__info > div {
      padding: 10px 0;
    }
    .footer__top__suport > div {
      padding: 10px 0;
    }
    .footer__top__guide > div {
      padding: 10px 0;
    }
    .footer__top__policy > div {
      padding: 10px 0;
    }
  }
}
.thongbao {
  padding: 50px 0;
  img {
    width: 100%;
  }
}
.blogs {
  padding: 20px 0;
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
  }
  .list__blogs {
    .list__blogs--blog {
      margin-left: 30px;
      padding: 20px;
      background-color: $secondColor;
      img {
        width: 100%;
      }
      h4 {
        padding: 20px 10px;
        color: $blackColor;
      }
      :hover {
        opacity: 80%;
      }
    }
  }
}
.social {
  .all-social {
    display: flex;
    justify-content: center;
    padding: 50px 0 80px 0;
    div {
      padding: 0 10px;
      font-size: 36px;
      a {
        color: $blackColor;
      }
      :hover {
        opacity: 80%;
      }
    }
  }
}
#check {
  display: none;
}

.slider__show {
  position: relative;
  z-index: 8;
}

.header__mid__row {
  .menu {
    display: none;
    font-size: 36px;
    color: $blackColor;
    label {
      cursor: pointer;
    }
  }
}
.header__mid__search2 {
  display: none;
}

.hide {
  display: none !important;
}
.trans {
  transform: translateX(0) !important;
  transition: 0.2s ease;
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
  }
  .header__top {
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
  }
  .slider {
    margin-top: 114px;
  }

  .header__mid__row {
    // height: 60px !important;
    // line-height: 60px !important;
    .menu {
      display: block;
    }
  }
  .header__bottom__row {
    ul {
      background-color: $whiteColor;
      display: flex;
      flex-direction: column;
    }
  }
  .header__mid__search {
    display: none;
  }
  .header__mid__search2 {
    display: block;
    margin-left: 10px;
    input {
      border: none;
      outline: none;
      padding: 5px 10px;
    }
  }
  .header__mid__cart {
    margin-left: 10px !important;
    margin-right: 0 !important;
    flex-grow: 1;
    ion-icon {
      transform: translateX(0);
      margin-right: -20px;
    }
  }

  .footer__top {
    display: flex;
    flex-direction: column;
  }
  .header__top__info--email {
    display: none;
  }
  .header__bottom {
    transform: translateX(-100%);
    transition: 0.2s ease;
  }
  .header__mid__logo {
    text-align: center;
    margin-left: 76px !important;
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .btn-call {
    display: block;
  }
  .header__top__info--email {
    display: none;
  }
  .header__top__info--phone {
    display: none;
  }
  .footer__top > div {
    margin-left: 20px;
  }
  .header__mid__row {
    height: 74px !important;
  }
  .list__blogs--blog {
  }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
  .list__blogs--blog {
  }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}
