@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

a {
  text-decoration: none;
  color: #231f20; }

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.blur {
  pointer-events: none; }

.breadcrumb {
  z-index: 100; }
  .breadcrumb ul {
    list-style: none;
    display: flex; }
    .breadcrumb ul li {
      margin-right: 10px; }
      .breadcrumb ul li a:hover {
        text-decoration: underline; }

.header {
  color: #231f20;
  position: relative; }
  .header .header__top {
    background-color: #fafafa; }
    .header .header__top .header__top__row {
      display: flex;
      justify-content: space-between;
      height: 34px;
      line-height: 34px; }
      .header .header__top .header__top__row .header__top__info {
        display: flex;
        justify-content: space-between;
        font-size: 16px; }
        .header .header__top .header__top__row .header__top__info .header__top__info--phone {
          padding: 0 10px; }
        .header .header__top .header__top__row .header__top__info .header__top__info--email {
          padding: 0 10px; }
      .header .header__top .header__top__row .header__top__log {
        display: flex;
        justify-content: space-between;
        font-size: 16px; }
        .header .header__top .header__top__row .header__top__log a {
          display: block; }
          .header .header__top .header__top__row .header__top__log a :hover {
            text-decoration: underline; }
        .header .header__top .header__top__row .header__top__log .header__top__log--login {
          padding: 0 10px; }
        .header .header__top .header__top__row .header__top__log .header__top__log--register {
          padding: 0 10px; }
  .header .header__mid {
    background-color: #fafafa; }
    .header .header__mid .header__mid__row {
      display: flex;
      justify-content: space-between;
      height: 80px;
      line-height: 80px; }
      .header .header__mid .header__mid__row img {
        height: 80px; }
      .header .header__mid .header__mid__row .header__mid__logo {
        margin-left: 50px;
        margin-right: 50px;
        flex-grow: 0; }
      .header .header__mid .header__mid__row .header__mid__search {
        position: relative;
        flex-grow: 2; }
        .header .header__mid .header__mid__row .header__mid__search input {
          width: 100%;
          border: 0px;
          background-color: #fafafa;
          outline: none;
          padding: 10px 20px;
          transition: 0.5s ease; }
        .header .header__mid .header__mid__row .header__mid__search input:focus {
          transition: 0.5s ease;
          background-color: #fff;
          border-bottom: 1px solid #a3a1a1; }
        .header .header__mid .header__mid__row .header__mid__search ion-icon {
          position: absolute;
          top: 42%;
          transform: translateX(-150%);
          z-index: 10;
          color: black !important;
          cursor: pointer; }
      .header .header__mid .header__mid__row .header__mid__cart {
        font-size: 44px;
        margin-left: 100px;
        margin-right: 20px;
        position: relative;
        flex-grow: 0; }
        .header .header__mid .header__mid__row .header__mid__cart a {
          color: black !important; }
        .header .header__mid .header__mid__row .header__mid__cart .header__mid_cart--count {
          display: inline;
          font-size: 18px;
          font-weight: 700;
          color: #231f20;
          border-radius: 50%;
          background-color: #e66d6d;
          position: relative;
          margin-left: -50%;
          padding: 0 6px;
          z-index: 10; }
  .header .header__bottom {
    background-color: #fafafa;
    height: 36px;
    line-height: 36px;
    margin-bottom: 3px; }
    .header .header__bottom .header__bottom__row ul {
      position: relative;
      z-index: 10; }
      .header .header__bottom .header__bottom__row ul .active {
        border-bottom: 2px solid #231f20; }
      .header .header__bottom .header__bottom__row ul li {
        font-size: 16px;
        display: inline-table;
        list-style: none;
        transition: 1s ease-in; }
        .header .header__bottom .header__bottom__row ul li :hover {
          transition: 0.1s ease-in;
          border-bottom: 2px solid #231f20; }
        .header .header__bottom .header__bottom__row ul li a {
          padding: 0 10px;
          display: block; }

#check {
  display: none; }

.header__mid__row .menu {
  display: none;
  font-size: 36px;
  color: #231f20; }
  .header__mid__row .menu label {
    cursor: pointer; }

.header__mid__search2 {
  display: none; }

.hide {
  display: none !important; }

.trans {
  transform: translateX(0) !important;
  transition: 0.2s ease; }

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15; }
  .header__top {
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px; }
  .header__mid__row .menu {
    display: block; }
  .header__bottom__row ul {
    background-color: #fafafa;
    display: flex;
    flex-direction: column; }
  .header__mid__search {
    display: none; }
  .header__mid__search2 {
    display: block;
    margin-left: 10px; }
    .header__mid__search2 input {
      border: none;
      outline: none;
      padding: 5px 10px; }
  .header__mid__cart {
    margin-left: 10px !important;
    margin-right: 0 !important;
    flex-grow: 1; }
    .header__mid__cart ion-icon {
      transform: translateX(0);
      margin-right: -20px; }
  .header__top__info--email {
    display: none; }
  .header__bottom {
    transform: translateX(-100%);
    transition: 0.2s ease; }
  .header__mid__logo {
    text-align: center;
    margin-left: 76px !important; } }

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .header__top__info--email {
    display: none; }
  .header__top__info--phone {
    display: none; }
  .header__mid__row {
    height: 74px !important; } }

/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

a {
  text-decoration: none;
  color: #231f20; }

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.blur {
  pointer-events: none; }

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: #231f20;
  font-size: 14px; }
  .footer .footer__bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #fff; }
  .footer .footer__top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    gap: 40px; }
    .footer .footer__top a {
      transition: 0.2s ease; }
    .footer .footer__top a:hover {
      transition: 0.2s ease;
      text-decoration: underline; }
    .footer .footer__top h3 {
      padding: 20px 0; }
    .footer .footer__top .footer__top__info > div {
      padding: 10px 0; }
    .footer .footer__top .footer__top__suport > div {
      padding: 10px 0; }
    .footer .footer__top .footer__top__guide > div {
      padding: 10px 0; }
    .footer .footer__top .footer__top__policy > div {
      padding: 10px 0; }

.btn-call {
  color: #231f20;
  font-weight: 700;
  background-color: #fafafa;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 2px 4px;
  position: fixed;
  bottom: 25px;
  left: 0;
  display: none; }

.btn-mess {
  color: #fafafa;
  position: fixed;
  bottom: 25px;
  right: 15px; }
  .btn-mess img {
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%; }

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .footer__top {
    display: flex;
    flex-direction: column; }
  .footer__bottom {
    padding: 10px 0 10px 0; } }

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .footer__top > div {
    margin-left: 20px; }
  .btn-call {
    display: block; } }

/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

a {
  text-decoration: none;
  color: #231f20; }

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.blur {
  pointer-events: none; }

.nam__list__boxed {
  width: 200px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 0 20px;
  margin: 5px 10px;
  transition: 0.5s ease; }
  .nam__list__boxed:hover {
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
  .nam__list__boxed a {
    color: #231f20; }
  .nam__list__boxed img {
    height: 180px;
    object-fit: cover;
    flex-shrink: 0; }
  .nam__list__boxed .boxed__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; }
    .nam__list__boxed .boxed__box .boxed__box__name {
      text-align: center;
      font-size: 14px;
      flex-grow: 1; }
    .nam__list__boxed .boxed__box .boxed__box__price {
      font-size: 16px;
      padding: 2px 0; }
      .nam__list__boxed .boxed__box .boxed__box__price .boxed__box__price--new {
        font-weight: 600;
        color: #e66d6d; }
      .nam__list__boxed .boxed__box .boxed__box__price .boxed__box__price--old {
        font-size: 14px;
        text-decoration: line-through;
        color: #a3a1a1; }
    .nam__list__boxed .boxed__box .boxed__box__refund span {
      font-size: 12px; }

.boxed__add {
  margin: 10px 0;
  flex-grow: 0; }
  .boxed__add .boxed__add--button {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #231f20;
    color: #fafafa;
    cursor: pointer; }

.popup-product {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  border: 5px solid #231f20;
  padding: 40px 40px 0 40px;
  background: rgba(255, 255, 255, 0.5); }
  .popup-product .popup-header {
    text-align: center;
    margin-bottom: 20px; }
    .popup-product .popup-header ion-icon {
      font-size: 42px;
      color: #04c204; }
    .popup-product .popup-header .popup-message {
      font-size: 24px;
      font-weight: 700; }
  .popup-product .popup-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 0 40px 0;
    font-size: 18px;
    font-weight: 700;
    color: white; }
    .popup-product .popup-bottom a {
      color: white; }
    .popup-product .popup-bottom .popup-to-cart {
      width: 50%;
      margin: 5px;
      height: 40px;
      line-height: 40px;
      background-color: #231f20;
      cursor: pointer; }
      .popup-product .popup-bottom .popup-to-cart:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }
    .popup-product .popup-bottom .popup-buying {
      width: 50%;
      margin: 5px;
      height: 40px;
      line-height: 40px;
      background-color: #231f20;
      cursor: pointer; }
      .popup-product .popup-bottom .popup-buying:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 540px) {
  .popup-product {
    padding: 2px;
    width: 80%; }
  .popup-bottom {
    padding: 2px !important;
    font-size: 12px !important; }
  .popup-message {
    font-size: 18px !important; } }

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .popup-bottom {
    flex-direction: column !important; }
  .popup-to-cart {
    width: 100% !important;
    margin: 2px !important; }
  .popup-buying {
    width: 100% !important;
    margin: 2px !important; } }

/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

a {
  text-decoration: none;
  color: #231f20; }

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.blur {
  pointer-events: none; }

.opacity-20 {
  opacity: 20%; }

.cusors-default {
  cursor: default !important; }

.pointer-event-none {
  pointer-events: none; }

.content-below {
  margin-top: 50px; }

.products-main {
  display: flex;
  justify-content: space-between; }

.filter-name {
  border-bottom: 2px solid #231f20;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px 0;
  margin-bottom: 10px; }

.filter a:hover {
  text-decoration: underline; }

.filter .filter__ten {
  margin: 20px 0; }
  .filter .filter__ten input {
    padding: 4px 2px;
    margin: 4px 0;
    outline: none; }
  .filter .filter__ten button {
    color: #fafafa;
    padding: 6px 4px;
    background-color: #231f20;
    border: none;
    cursor: pointer; }

.filter .filter__hang {
  margin: 30px 0;
  margin-bottom: 8px; }
  .filter .filter__hang ul {
    max-height: 200px;
    overflow-y: auto; }
  .filter .filter__hang ul::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */ }
  .filter .filter__hang ul::-webkit-scrollbar-track {
    background: #dbdbdb;
    /* color of the tracking area */ }
  .filter .filter__hang ul::-webkit-scrollbar-thumb {
    background-color: #231f20;
    /* color of the scroll thumb */
    border: 1px solid #a3a1a1;
    /* creates padding around scroll thumb */ }
  .filter .filter__hang li {
    margin: 4px 0; }

.filter .filter__gioitinh {
  margin: 30px 0; }
  .filter .filter__gioitinh .list-gender {
    display: flex;
    justify-content: space-between; }

.filter .filter__gia {
  margin: 30px 0; }
  .filter .filter__gia .list-cost p {
    margin: 4px 0; }

.products {
  width: 78%;
  margin-left: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; }
  .products .top-products {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px; }
    .products .top-products .thong-ke {
      color: #a3a1a1; }
    .products .top-products .arange span {
      font-weight: bold; }
    .products .top-products .arange select {
      padding: 6px 4px;
      outline: none; }
  .products .list-product {
    margin-top: 10px;
    padding: 20px 0; }
    .products .list-product .wrap-product {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
    .products .list-product .nam__list__boxed {
      width: 180px;
      height: 320px; }
      .products .list-product .nam__list__boxed .boxed__box__name {
        font-size: 12px; }
      .products .list-product .nam__list__boxed .boxed__box__price {
        font-size: 14px; }
      .products .list-product .nam__list__boxed .boxed__box__price--old {
        font-size: 12px; }
      .products .list-product .nam__list__boxed .boxed__box__refund span {
        font-size: 10px; }
  .products .pagination-product {
    text-align: center;
    padding-bottom: 20px; }
    .products .pagination-product .pagi {
      display: flex;
      justify-content: center; }
      .products .pagination-product .pagi div {
        cursor: pointer; }
      .products .pagination-product .pagi ion-icon {
        font-size: 32px; }
      .products .pagination-product .pagi .pagi__box {
        margin: 0 10px; }
      .products .pagination-product .pagi span {
        line-height: 32px;
        font-size: 18px; }

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .wrap-product {
    grid-template-columns: 1fr 1fr 1fr !important; } }

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .content-below {
    margin-top: 10px; }
  .wrap-product {
    justify-items: center;
    grid-template-columns: 1fr 1fr !important; }
  .breadcrumb {
    margin-top: 150px; }
  .filter__ten input {
    width: 80%; } }

/*Tablet nhỏ(540 x 640)*/
@media screen and (max-width: 540px) {
  .thong-ke {
    width: 40%; }
  .arange {
    width: 40%; }
  .wrap-product {
    justify-items: center;
    grid-template-columns: 1fr 1fr !important; }
  .filter {
    display: none; }
  .products {
    width: 100%;
    margin-left: 0; } }

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 410px) {
  .nam__list__boxed {
    width: 170px !important;
    height: 320px;
    padding: 0 10px; } }

/*Iphone(480 x 640)*/
@media screen and (max-width: 380px) {
  .nam__list__boxed {
    width: 160px !important;
    height: 320px; } }

/*Smart phone nhỏ*/
@media screen and (max-width: 280px) {
  .wrap-product {
    grid-template-columns: 1fr !important; } }
