<div class="container-content ">
    <div class="name-page ">
        <div class="container-2">
            Tài khoản khách hàng
        </div>
    </div>
    <div class="content ">
        <div class="white-box">
            <div class="header-table">
                <div class="search">
                    <input type="text" placeholder="tìm theo email.." value="<%= data.nameSearch %>">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="table-right">

                </div>
            </div>

            <div class="table-responsive">


            </div>
        </div>
    </div>
</div>