<section class="blogs">
    <div class="container">
        <h1>Blog chia sẻ</h1>
        <div class="list__blogs">
            <div class="list__blogs--blog">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/343/050/articles/d13006174c150be273aacf59d38db9d3202afd83.jpg?v=1547310123373"
                    alt="">
                <a href="#">
                    <h4>Có phải bạn đã mua phải nước hoa fake?</h4>
                </a>

            </div>
            <div class="list__blogs--blog">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/343/050/articles/su-dung-bao-quan.jpg?v=1620626739860"
                    alt="">
                <a href="#">
                    <h4>Một số lưu ý khi sử dụng và bảo quản nước hoa</h4>
                </a>

            </div>
            <div class="list__blogs--blog">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/343/050/articles/khonuochoa-com.jpg?v=1620627068997"
                    alt="">
                <a href="#">
                    <h4>Có phải bạn đã mua phải nước hoa fake?</h4>
                </a>

            </div>
            <div class="list__blogs--blog">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/343/050/articles/img-5243.jpg?v=1618222805743"
                    alt="">
                <a href="#">
                    <h4>Bí kíp giữ hương nước hoa thơm lâu</h4>
                </a>

            </div>

        </div>
    </div>
</section>