<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top__info">
                <h3>Thông tin</h3>
                <div class="footer__top__info--location">
                    <ion-icon name="location-outline"></ion-icon>
                    <span>
                        <%= data.address %>
                    </span>
                </div>
                <div class="footer__top__info--phone">
                    <ion-icon name="call-outline"></ion-icon>
                    <span>
                        <%= data.phone %>
                    </span>
                </div>
                <div class="footer__top__info--email">
                    <ion-icon name="mail-outline"></ion-icon>
                    <span>
                        <%= data.email %>
                    </span>
                </div>
                <div class="footer__top__info--giayphep">
                    <ion-icon name="bookmark-outline"></ion-icon>
                    <span>Hộ kinh doanh NƯỚC HOA MẪU THỬ
                        Giấy chứng nhận ĐKKD: 41P8021694</span>

                </div>
            </div>
            <div class="footer__top__suport">
                <h3>Hỗ trợ</h3>
                <div class="footer__top__suport--search">
                    <ion-icon name="search-outline"></ion-icon>
                    <a href="/tim-kiem"><span>Tìm kiếm</span></a>

                </div>
                <div class="footer__top__suport--login">
                    <ion-icon name="log-in-outline"></ion-icon>
                    <a href="/dang-nhap"><span>Đăng nhập</span></a>

                </div>
                <div class="footer__top__suport--register">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <a href="/dang-ky"> <span>Đăng ký</span></a>

                </div>
                <div class="footer__top__suport--cart">
                    <ion-icon name="cart-outline"></ion-icon>
                    <a href="/gio-hang"><span>Giỏ hàng</span></a>

                </div>
            </div>
            <div class="footer__top__guide">
                <h3>Hướng dẫn</h3>
                <div class="footer__top__guide--mua"><a href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                </div>
                <div class="footer__top__guide-thanhtoan"><a href="/huong-dan-thanh-toan">Hướng dẫn thanh
                        toán</a></div>
                <div class="footer__top__guide--giaonhan"><a href="/huong-dan-giao-nhan">Hướng dẫn giao
                        nhận</a> </div>
                <div class="footer__top__guide--dichvu"><a href="/dieu-khoan-dich-vụ">Điều khoản dịch vụ</a>
                </div>
            </div>
            <div class="footer__top__policy">
                <h3>Chính sách</h3>
                <div class="footer__top__policy--baomat">
                    <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
                </div>
                <div class="footer__top__policy--vanchuyen">
                    <a href="/chinh-sach-van-chuyen">Chính sách vận chuyển</a>
                </div>
                <div class="footer__top__policy--doitra">
                    <a href="/chinh-sach-doi-tra">Chính sách đổi trả</a>
                </div>
                <div class="footer__top__policy--sudung">
                    <a href="/quy-dinh-su-dung">Quy định sử dụng</a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <span>© sonoperfume | 2022 reseved</span>
        </div>
    </div>
</footer>