<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top__row">
                <div class="header__top__info">
                    <div class="header__top__info--phone">
                        <ion-icon name="call-outline"></ion-icon>
                        <span>
                            <%= data.phone %>
                        </span>
                    </div>
                    <div class="header__top__info--email">
                        <ion-icon name="mail-outline"></ion-icon>
                        <span>
                            <%= data.email %>
                        </span>
                    </div>
                </div>
                <div class="header__top__log">
                    <div class="header__top__log--login">

                        <a href="#">
                            <ion-icon name="lock-open-outline"></ion-icon>
                            <span>Đăng nhập</span>
                        </a>
                    </div>
                    <div class="header__top__log--register">
                        <a href="#">
                            <ion-icon name="person-add-outline"></ion-icon>
                            <span>Đăng ký</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__mid">
            <div class="container">
                <div class="header__mid__row">
                    <div class="menu">
                        <label for="check" class="show--toggle">
                            <ion-icon name="menu-outline"></ion-icon>
                        </label>
                        <label for="check" class="hide--toggle hide">
                            <ion-icon name="close-outline"></ion-icon>
                        </label>
                    </div>
                    <div class="header__mid__logo">
                        <a href="/"><img src="https://f6-zpcloud.zdn.vn/9021080566888684070/8c707aea4da082fedbb1.jpg"
                                alt="">
                        </a>

                    </div>
                    <div class="header__mid__search">
                        <input type="text" id="input-search" placeholder="Tìm sản phẩm...">
                        <ion-icon name="search-outline" class="header-search"></ion-icon>
                    </div>
                    <div class="header__mid__cart">
                        <a href="/gio-hang">
                            <ion-icon name="cart-outline"></ion-icon>
                            <span class="header__mid_cart--count">0</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom__row">
                <ul class="nav__link">
                    <% if(content==="home" ){ %>
                        <li><a class="active" href="/">Trang chủ</a></li>
                        <%} else{ %>
                            <li><a href="/">Trang chủ</a></li>
                            <% } %>

                                <li><a href="/products?&gender=Nam">Nước hoa Nam</a></li>
                                <li><a href="/products?&gender=Nữ">Nước hoa nữ</a></li>
                                <% if(content==="blog" ){ %>
                                    <li><a class="active" href="/blogs">Blog</a></li>
                                    <%} else{ %>
                                        <li><a href="/blogs">Blog</a></li>
                                        <% } %>

                                            <% if(content==="khuyen-mai" ){ %>
                                                <li><a class="active" href="/khuyen-mai">Khuyến mãi</a></li>
                                                <%} else{ %>
                                                    <li><a href="/khuyen-mai">Khuyến mãi</a></li>
                                                    <% } %>

                                                        <% if(content==="lien-he" ){ %>
                                                            <li><a class="active" href="/lien-he">Liên hệ</a></li>
                                                            <%} else{ %>
                                                                <li><a href="/lien-he">Liên hệ</a></li>
                                                                <% } %>

                                                                    <li>
                                                                        <div class="header__mid__search2">
                                                                            <input type="text" id="search-2"
                                                                                placeholder="Tìm sản phẩm...">
                                                                            <ion-icon name="search-outline"
                                                                                class="header-search-2"></ion-icon>
                                                                        </div>
                                                                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>