<div class="sign">
    <h2>Lấy lại mật khẩu</h2>
    <div class="tai-khoan">
        <label for="email">Email:</label>
        <input type="email" id="email">
    </div>
    <button class="btn-lay">Lấy lại mật khẩu</button>
</div>