<div class="popup-product hide">
    <div class="popup-header">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <div class="popup-message">
            Một sản phẩm vừa được thêm vào giỏ hàng
        </div>
    </div>
    <div class="popup-bottom">
        <div class="popup-to-cart">
            <a href="/gio-hang">Xem giỏ hàng</a>
        </div>
        <div class="popup-buying">
            Tiếp tục mua hàng
        </div>
    </div>
</div>