<div class="sign">
    <h2>Đăng ký</h2>
    <label class="had-acc">Đã có tài khoản vui lòng <a href="/dang-nhap">Đăng nhập</a></label>
    <div class="tai-khoan">
        <label for="email">Email:</label>
        <input type="email" id="email">
    </div>
    <div class="mat-khau">
        <label for="pass">Mật khẩu:</label>
        <input type="password" id="pass">
    </div>
    <div class="re-mat-khau">
        <label for="re-pass">Nhập lại mật khẩu:</label>
        <input type="password" id="re-pass">
    </div>
    <button class="btn-up">Đăng ký</button>
</div>