<section class="social">
    <div class="container">
        <div class="all-social">
            <div class="allsocial__facebook">

                <a href="<%= data.facebook %>">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </div>
            <div class="allsocial__insta">

                <a href="<%= data.insta %>">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
            <div class="allsocial__youtube">

                <a href="<%= data.youtube %>">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
            </div>
            <div class="allsocial__address">

                <a href="#">
                    <ion-icon name="location-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</section>